/*-----NavBar-----*/

nav {
 color:#fff;
 background-color: #2a2e6f;
 width:100%;
 height:56px;
 line-height:56px
}

/*----- -----*/


ul .collapisle{
    width: 50%;

}



.task-header{
    margin-top: 5px;
    width: 100%;
    text-decoration: none;

    
}


.collapsible-header .view-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
/*-----Buttons-----*/
.btn_del{
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.2em;
    
}

.btn_small{
    height: 24px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    
    
}

.btn:hover, .btn-large:hover {
    background-color: 
    #2a2e6f;
}

.btn{
    background-color: #45b2d4;
    align-content: centre;
}
/*-----Search box-----*/

.input-field{
    margin-left: 25%;  
    width: 50%;
    
}


.intro{
   width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #fafafa;
    opacity: 0.9;
    margin: 12.5px 0;
    text-align: center;
}
