{% extends 'base.html' %} {% block content %}
<div class="row">
	<ul class="collapsible" data-collapsible="accordian">
		<form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>

		</br>

		{% for jargon in jargons %}
		<li>
			<div class="collapsible-header">

				<div class="task-header col s6">
					<strong> {{jargon.jargon_name}}</strong>
				</div>
				<div class="col s3">
					<strong>{{jargon.category_name}}</strong>
				</div>
				<div class="col s3">
					<i class="material-icons">expand_more</i>

					<a href="{{url_for('delete_jargon', jargon_id=jargon._id)}}"
						class="waves-effect waves-light btn btn_small green">Delete</a>

					<a href="{{url_for('edit_jargon', jargon_id=jargon._id)}}"
						class="waves-effect waves-light btn btn_small blue">Edit</a>
				</div>

			</div>

			<div class="collapsible-body">
				<span>
              {{jargon.description}}
              
      </span>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="row">
	<a href="{{url_for('add_jargon')}}" class="waves-effect waves-light btn">
		<i class="material-icons right">add_circle</i>Add New Term
	</a>
</div>


{% endblock %}