{% extends 'base.html' %} {% block content %}
<div>
<h1>
Welcome
</h1>
<p>
Here you will find 
</P>
</div>

<div class ="row">
<form action = "{{ url_for('search') }}" >
        <div class="input-field">
          <input id="search" name ="search" type="search" >
          <i class="material-icons">close</i>
           <label>Search For Term</label>
        </div>
       
      </form> 
</div>

<div class="row">
	<ul class="collapsible" data-collapsible="accordian">
		




		{% for jargon in jargons %}
		<li>
			<div class="collapsible-header">

				<div class="task-header col s6">
					<strong> {{jargon.jargon_name}}</strong>
				</div>
				<div class="col s3">
					<strong>{{jargon.category_name}}</strong>
				</div>
				<div class="col s3">
					<i class="material-icons">expand_more</i>

					<a href="{{url_for('delete_jargon', jargon_id=jargon._id)}}"
						class="waves-effect waves-light btn btn_small green">Delete</a>

					<a href="{{url_for('edit_jargon', jargon_id=jargon._id)}}"
						class="waves-effect waves-light btn btn_small blue">Edit</a>
				</div>

			</div>

			<div class="collapsible-body">
				<span>
              {{jargon.description}}
              
      </span>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="row">
	<a href="{{url_for('add_jargon')}}" class="waves-effect waves-light btn">
		<i class="material-icons right">add_circle</i>Add New Term
	</a>
</div>


{% endblock %}