{%extends 'base.html'%} {% block content %}

<table>
<tr>
<th>Name</th>
<td>{{book.book_name}}</td>
<th>Author</th>
<td>{{book.author_name}}</td>
</tr>
<tr>
<th>Published</th>
<td>{{book.published_date}}</td>
<th>Genre</th>
<td>{{book.Genre}}</td>
</tr>
<tr>
<th>Buy Here</th>
<td>{{book.link}}</td>
<th>Cover Image</th>
<td>{{book.cover_link}}</td>
</tr>

</table>


<td><a href="{{url_for('add_review', book_id=book._id)}}" class="waves-effect waves-light btn btn_small green">Add Review</a></td>
    
{% endblock %}
